#background .coping .h3{
    font-size: 0.7rem;
    position: absolute;
    bottom: 0.96rem;
}
#background .coping .up{
    font-size: 0.7rem;
    position: absolute;
    bottom: 0.96rem;
    left: 3rem;
}
/*输入*/
#input{
    width: 6.3rem;
    height: 5.38rem;
    background: #ffffff;
    box-shadow: 0 0.01rem 0.15rem 0 #d2d2d2;
    float: right;
    margin-top: 0.76rem;
    position: relative;
    /*position: absolute;
    right: 0;
    top: 4.7rem;*/
}
#input .phone{
    font-size: 0.26rem;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0.54rem;
    left: 0.6rem;
}
#input .inputUser{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top: 1.3rem;
    left: 0.6rem;
}
#input .userLine{
    width: 5.08rem;
    height: 0.04rem;
    background: #e5e5e5;
    position: absolute;
    top: 1.75rem;
    left: 0.6rem;
}

#input .code{
    font-size: 0.26rem;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top: 2.32rem;
    left: 0.6rem;
}
#input .inputCode{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top: 3.04rem;
    left: 0.6rem;
}
#input .codeLine{
    width: 2.7rem;
    height: 0.04rem;
    background: #e5e5e5;
    position: absolute;
    top: 3.5rem;
    left: 0.6rem;
}
#input .proving{
    width: 1.8rem;
    height: 0.44rem;
    border-radius: 0.22rem;
    background-image: url("../images/prove.png");
    background-size: 1.8rem 0.44rem;
    position: absolute;
    right: 0.6rem;
    top: 2.94rem;
    font-size: 0.22rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.44rem;
}
#input .passwd{
    font-size: 0.26rem;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 1.06rem;
    left: 0.6rem;
}
#input .inputPasswd{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0.38rem;
    left: 0.6rem;
}
/*底部*/
#footer{
    width: 6.3rem;
    height: 1.5rem;
    /*position: absolute;
    bottom: 1.3rem;
    right: 0;*/
    float: right;
    margin-top: 0.56rem;
    position: relative;
}
#footer .register{
    width: 6.3rem;
    height: 0.96rem;
    background: #ffffff;
    box-shadow: 0 0.01rem 0.15rem 0 #d2d2d2;
    font-weight: bold;
    font-size: 0.26rem;
    text-align: center;
    line-height: 0.96rem;
    color: rgba(0,0,0,0.4);
}
#footer .single{
    width: 0.26rem;
    height: 0.26rem;
    border-radius: 0.14rem;
    position: absolute;
    left: 1.28rem;
    bottom: 0;
}
#footer .protocol{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 1.68rem;
}